body{
    margin: 0;
}

.sign-up {
    margin: 1rem auto;
    border-radius: 16px;
    background-color: #3e3f3e;
    max-width: 30rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgb(40, 95, 49);}

h5{
    padding-left: 2rem;
}
.col {
    padding: .5rem 0;
}

button{
    margin-left: -.7rem;
}

.form-field{
    padding-bottom: 1rem;
}
