body{
    margin: 0;

}

form {
    margin: 3rem auto;
    border-radius: 16px;
    background-color: rgb(62, 63, 62);
    max-width: 30rem;
    padding: 5rem;
    box-shadow: 0 2px 8px rgb(40, 95, 49);}

.col {
    padding: .5rem 0;
}

button{
    margin-left: -.7rem;
}
