.card{
    margin-bottom: 2rem;
    background-color: #363636;
    border-radius: 25px;
}
.calendar{
    padding: 0.5rem;
}

h1{
    color: #F4F4F4;
}

hr{
    background-color: whitesmoke;   
}

.record-sport, .record-boulder{
    text-align: center;
}

.record-sport mark{ 
    background-color: #9467BC;
}

.record-boulder mark{ 
    background-color: #2CA02C;
}

.bottom{
    min-height: 25rem;
    padding: 2rem 1rem;
}

@media screen and (max-width:992px){
    .bottom{
        min-height: 20rem;
        padding: .2rem .1rem;
    }
}