.calendar_plot{
    border-radius: 25px;
}

.right-panel{
    background-color: rgb(54, 54, 54);
    border-radius: 25px;
}

h1{
    color: #F4F4F4;
}

hr{
    background-color: whitesmoke;   
}

.record-sport, .record-boulder{
    text-align: center;
}

.record-sport mark{ 
    background-color: #9467BC;
}

.record-boulder mark{ 
    background-color: #2CA02C;
}