/* form {
    border-radius: 2%;
    background-color: rgb(62, 63, 62);
    width: fit-content;
    padding: 5rem;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row {
    justify-content: center;
    padding: 0.3rem;
    
}
.col{
    justify-content: center;
}

.form-control{
    width: 20rem;
}

.age-input{
    width: 4rem;
}

.gender{
    flex-grow: 4;
}

@media only screen and (min-width: 700px) {
    main {
        margin:auto;
        width: 75%;
    } 
}


@media only screen and (min-width: 400px) {
    main {
        margin:auto;
        width: 75%;
    } 
} */
body{
    margin: 0;
}

form {
    margin: auto;
    border-radius: 16px;
    background-color: rgb(62, 63, 62);
    max-width: 40rem;
    padding: 1rem 5rem;
    box-shadow: 0 2px 8px rgb(40, 95, 49);}

form input{
    width: 20rem;
}

form input, form select {
    display: block;
    border-radius: 5px;
}

p {
    color:rgb(179, 24, 24)
}

.col {
    padding: .5rem 0;
}
form div:nth-child(4), form div:nth-child(5){
    display: inline-flex; 
    margin:auto,   
}
form div:nth-child(4) input{
    max-width: 4rem;
}

form div:nth-child(5) div{
    margin-left: 3rem;
}
button{
    margin: 0 0 -.7rem;
}
