nav{
    padding-left: 1rem;
}

.navbar-nav {
    text-align: right;
    padding-left: 30%;
}

.first{
    color: #03a70b;
    
}

.btn-outline-success {
    margin: 0.2rem auto;
    color: #F4F4F4 !important;
}

body {
    background-color: #232020;
    color: #F4F4F4;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    background-color: #014104;
    border: none
}

h1 {
    font-family: 'Cabin Sketch';
    /* font-family: 'Love Ya Like A Sister', cursive; */
    /* font-family: 'Rock 3D', cursive; */
    /* font-family: 'Dokdo', cursive; */
    color: #f38e09;
    font-size: 5rem;
}

footer {
    display: inline;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: auto;
    
}
/* footer div {
    padding-top: 1rem;
} */

#ig{
    transition: transform 2s;
    transition-timing-function: ease-in;
}
#ig:hover{
    transform: rotateX(360deg);
    animation: instagram 2s alternate 0s infinite ease-in;
}

#twt{
    transition: transform 2s;
    transition-timing-function: ease-in;
}

#twt:hover{
    transform: rotateY(360deg);
    animation: twitter 2s alternate 0s infinite ease-in;
}

/* Only a span that comes after a span*/
span + span {
    margin-left: 1rem;

}