{% extends 'climb_log_webapp_ES/base.html' %}
{%load static%}
{% block title %}Pegue {{entry.id}} {{entry.date_of_climb}} {{entry.place_name}} {{entry.grade}} {%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{% static 'climb_log_webapp/styles.css' %}">
{%endblock%}
{%block content%}
<div>
    <ul>
        <li>{{entry.date_of_climb}}</li>
        <li>{{entry.place_name}}</li>
        <li>{{entry.enviroment}}</li>
        <li>{{entry.climb_style}}</li>
        <li>{{entry.multipitches}}</li>
        <li> {{entry.num_pitches}}</li>
        <li>{{entry.grade}}</li>
        <li>{{entry.climber_position}}</li>
        <li>{{entry.ascent_type}}</li>
        <li>{{entry.num_attempts}}</li>
        <li>{{entry.notes}}</li>
        <li>{{entry.date_of_entry}}</li>
    </ul>
</div>
{%endblock%}