{% extends 'climb_log_webapp_ES/base.html' %}
{%load static%}
{% block title %}The Climbing Log {%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{% static 'climb_log_webapp/home.css' %}">
{%endblock%}
{%block content%}
{% comment %} <div class="container"> {% endcomment %}
   <div class="row mt-0 ">
      <div class="col-lg-5 p-3">
         <h1>BIENVENIDO A CLIMBING LOG!</h1>
      </div>
      <br><br>
      <div class="col-lg-6  subtitle p-3">
         <div class="cover">
         <h2><em>Tu bitacora de escalada para llevar tu progreso en la roca</em></h2> 
            <div class="justify-content-center p-3" >
               <a href="{% url 'new-entry-form' %}"><img class="icon" src="{% static 'climb_log_webapp/images/mas.png' %}" alt="add" width="50" height="50"></a><strong> Agrega una nueva entrada</strong>
            </div>
            <div class="justify-content-center p-3">
               <a href="{% url 'entry-list' %}"><img class="icon" src="{% static 'climb_log_webapp/images/historia.png' %}" alt="list" width="50" height="50"></a><strong> Ver la Lista de Pegues</strong>
            </div>
            <div class="justify-content-center p-3">
               <a href="{% url 'user-profile' %}"><img class="icon" src="{% static 'climb_log_webapp/images/estadisticas.png' %}" alt="stats" width="50" height="50"></a><strong> Ver Mis Estadisticas </strong> 
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-center mt-1 intro">
      <h2>Que es Climbing Log?</h2>
      <ul class="dashed">
         <li>Cuantos dias escale este mes?</li>
         <li>Y este año?</li>
         <li>Que grado encadene mas veces este año?</li>
         <li>Donde fui a escalar mas veces?</li>
      </ul>
      <p>Alguna vez tuviste alguna de estas preguntas? <br>

         Climbing Log es la mejor herramienta para llevar un registro de tus escaladas, ya sea en la roca o en el gimnasio.<br>
         
         Es similiar a una bitacora de de escalada, guarda tus pegues y los representa en distintos graficos que te ayudaran a visualizar y analisar tu rendimiento</p>
   </div>
{% comment %} </div> {% endcomment %}
{%endblock%}