{% extends 'climb_log_webapp_ES/base.html' %}
{%load static%}
{% block title %}The Climbing Log {%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{% static 'climb_log_webapp/styles.css' %}">
{%endblock%}
{%block content%}
   <h1>Bienvenido a Climbing Log!</h1>
   <br><br>
   <h2>Tu bitacora de escalada para llevar tu progreso en la roca</h2> 
   <br><br>
   <p> Agrega una nueva entrada <a href="{% url 'new-entry-form' %}">Aqui</a> </p>
   <br>
   <p> Ver la lista de pegues <a href="{% url 'entry-list' %}">Aqui</a> </p>
   <br>
   <p> Ver usuarios <a href="{% url 'users' %}">Aqui</a> </p>
{%endblock%}