{% extends 'climb_log_webapp_ES/base.html' %}
{%load static%}
{% block title %}The Climbing Log {%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{% static 'climb_log_webapp/home.css' %}">
{%endblock%}
{%block content%}
<div id="sticky_back">
</div>
<div class="all">
<div class="container first-section">
   <div class="row">
      <div class="col-lg-5 title">
         <h1>CLog</h1>
      </div>
      <br><br>
      <div class="col-lg-6  subtitle">
         <div class="cover">
         <h2><em>Tu bitácora de escalada para llevar tu progreso en la roca</em></h2>
            <div class="justify-content-center p-3" >
               <a href="{% url 'new-session-form'%}"><img class="icon" id="session" src="{% static 'climb_log_webapp/images/clim3.png' %}" alt="add" width="60" height="60"></a><strong> Agrega una nueva sesión</strong>
            </div>
            <div class="justify-content-center p-3" >
               <a href="{% url 'new-entry-form' form_type='quick_form' %}"><img class="icon" src="{% static 'climb_log_webapp/images/mas.png' %}" alt="add" width="60" height="60"></a><strong> Agrega una nueva entrada</strong>
            </div>
            <div class="justify-content-center p-3">
               <a href="{% url 'entry-list' %}"><img class="icon" src="{% static 'climb_log_webapp/images/list1.png' %}" alt="list" width="60" height="60"></a><strong> Ver la Lista de Pegues</strong>
            </div>
            <div class="justify-content-center p-3">
               <a href="{% url 'user-profile' %}"><img class="icon" src="{% static 'climb_log_webapp/images/curva.png' %}" alt="stats"width="60" height="60"></a><strong> Ver Mis Estadisticas </strong> 
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container mt-6 slides-section">
   <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
         <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img src="{% static 'climb_log_webapp/images/progresion.png'%}" class="d-block w-100" alt="progresion">
                  <div class="carousel-caption d-block w-100">
                     <h5>Progresión</h5>
                     <p>Sigue tu grado máximo alcanzado cada mes en todos los estilos.</p>
                  </div>
               </div>
               <div class="carousel-item">
                  <img src="{% static 'climb_log_webapp/images/calendar.png'%}" class="d-block w-100" alt="calendar">
                  <div class="carousel-caption d-block w-100">
                     <h5>Calendario de escalada</h5>
                     <p>Representa los días que fuiste a escalar y que tan intensos fueron.</p>
                  </div>
               </div>
               <div class="carousel-item">
                  <img src="{% static 'climb_log_webapp/images/sesion.png'%}" class="d-block w-100" alt="session">
                  <div class="carousel-caption d-block w-100">
                     <h5>Carga rápida</h5>
                     <p>Querés anotar rapidamente todos los pegues del día? Usa agregar sesión! Ojo! Los flash o onsight no quedarán registrados! </p>
                  </div>
               </div>
               <div class="carousel-item">
                  <img src="{% static 'climb_log_webapp/images/records.png'%}" class="d-block w-100" alt="calendar">
                  <div class="carousel-caption d-block w-100">
                     <h5>Records</h5>
                     <p>Manten siempre actualizado tus logros como motivación para seguir escalando!</p>
                  </div>
               </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
            </button>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row intro">
      <div class="col-lg-6">
      <h2>Qué es Climbing Log?</h2>
      <ul class="dashed">
         <li><em>"Cuántos días escalé este mes?"</em></li>
         <li><em>"Y este año?"</em></li>
         <li><em>"Qué grado encadené más veces este año?"</em></li>
         <li><em>"Dónde fui a escalar más veces?"</em></li>
      </ul>
      <br>
      <h4>Alguna vez tuviste alguna de estas preguntas?</h4>

      <p class="text">Climbing Log es la mejor herramienta para llevar un registro de tus escaladas, ya sea en la roca o en el gimnasio.</p>
         
      <p class="text">Es similiar a una bitácora de escalada, guarda tus pegues y los representa en distintos graficos que te ayudaran a visualizar y analisar tu rendimiento.</p>
   
      </div>
   </div>
   <div class="row intro">
      <div class="col-lg-6">
         <h4>Cómo funciona?</h4>
         <p class="text">Para que Climbing Log te sea útil necesitas cargarle pegues, mientras más, mejor.</p>
         <p class="text">Esto va a permitir representar información más precisa de tu progreso en escalada!</p>
      </div>
   </div>
   <div class="row intro">
      <div class="col-lg-6">
         <h4>Por qué usar CLog?</h4>
         <p class="text">Llevar un registro de tu entrenamiento es un método usado por los mejores deportistas del mundo, no solo en la escalada en roca, sino en todas las disciplinas.
         Es porque ayuda a visualizar rapidamente el progreso y la intensidad del entrenamiento, permitiendo descubrir patrones exitosos. Cada persona es distinta, por lo que no existe una fórmula de exito igual para todos. CLog te puede ayudar a encontrar la tuya.</p>
         
         <p class="text">Si bien la busqueda del grado es un gran motivador en la escalada, no debería ser el objetivo en sí. El grado de escalada alcanzado es solo un indicador a la hora de medir el rendimiento, pero lejos está de ser el único. Puede que hayamos logrado un grado elevado en una vía que se acomodaba a nuestras fortalezas, y luego pasar meses o años hasta encadenar otra vía de la misma graduación. O por el contrario, estar escalando muy por debajo del potencial del escalador, por encerrarse en la idea "aún no estoy listo para subir de grado".<p>
         
         <p class="text">Es por esto que CLog no intenta ser un evaluador del escalador, sino un instrumento objetivo que refleje los datos duros de las escaladas. </p>
         
         <p class="text">Además de su valor deportivo, el tener un lugar donde se pueda ver reflejado la cantidad de días en la roca o el gimnasio, la progresión de las horas y horas de entrenamiento, los lugares y viajes de escalada conocidos, poseen un valor de incalculable valor personal. Representa la razón original que llevó a la creación de esta aplicación.</p>
         
         <p class="text">CLog siempre será de uso libre, alineada con el caracter de generocidad que caracteriza a la comunidad escaladora. Si logra motivarte a escalar más duro y con más frecuencia, entonces habrá logrado su objetivo.</p>
      </div>
   </div>
</div>
</div>
{%endblock%}