{% extends 'climb_log_webapp_ES/base.html' %}
{% load static %}
{% block title %}Nueva entrada{%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{% static 'climb_log_webapp/styles.css' %}">
<link rel="stylesheet" href="{% static 'climb_log_webapp/new_entry.css' %}">
{%endblock%}

{%block content%}
<div>   
    <h1>Agrega escaladas:</h1>
</div> 
<div class="new_entry">
    <form  action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {%if form.errors%}
            {{form.errors.as_text}}
            <div class="row">
                <p class="error">Por favor, comprueba que todas las categorias tengan un valor.</p>
            </div>
            {%endif%}
            {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
        {% endif %}
            <div class="row">
                <div class="col-2">
                    <label for="date">Fecha del pegue:</label>
                </div>
                <div class="col-auto">
                    <input class="themed" type="date" name="date_of_climb" id="date_of_climb" max="{{date_today}}" default="{{date_today}}" value="{{date_today}}">
                </div>
                
            </div>
        </div>
        <hr>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <label for="place">Lugar: </label>
                </div>
                <div class="col-auto">
                    <input class="themed" type="text" class="form-control" placeholder="Sector de escalada/Palestra" name="place_name" id="place_name">
                </div>
            </div>
        </div>
        <hr>
        <div class="radio-selection form-group">
            <div class="row">
                <div class="col-2">
                    <label>Entorno: </label>
                </div>
                <div class="col-auto">
                    <input type="radio" class="btn-check" name="enviroment" id="palestra" value="artificial" autocomplete="off">
                    <label class="btn btn-outline-success" for="palestra">Palestra</label>

                    <input type="radio" class="btn-check" name="enviroment" value="nature" id="roca" autocomplete="off">
                    <label class="btn btn-outline-success" for="roca">Roca</label>
                </div>
            </div>
        </div>
        
        <hr>

        <div class="radio-selection form-group">
            <div class="row">
                <div class="col-2">
                    <label>Estilo: </label>
                </div>
                <div class="col-auto">
                    <input type="radio" class="btn-check" name="climb_style"  id="boulder" value="boulder" autocomplete="off">
                    <label class="btn btn-outline-success" for="boulder">Boulder </label>
                    
                    <input type="radio" class="btn-check" name="climb_style" id="sport" value="sport" autocomplete="off">
                    <label class="btn btn-outline-success" for="sport">Deportiva</label>
                    
                    <input type="radio" class="btn-check" name="climb_style" id="trad" value="trad" autocomplete="off">
                    <label class="btn btn-outline-success" for="trad">Clasica</label>
                </div>    
            </div>
        </div>
        <hr>

        <div class="radio-selection form-group">
            <div class="row">
                <div class="col-2">
                    <label>Largos: </label>
                </div>
                <div class="col-auto">
                    <input type="radio" class="btn-check" name="multipitches" value="False" id="singlepitch" autocomplete="off"checked>
                    <label class="btn btn-outline-success" for="singlepitch">Monolargo</label>
                    <input type="radio" class="btn-check" name="multipitches" value="True" id="multipitch" autocomplete="off">
                    <label class="btn btn-outline-success" for="multipitch" >Multilargo</label>
                </div>    
                <div class="col-md-4">
                    <label for="num-pitches">Nro largos:</label>
                    <select class="form-control short-num" name="num_pitches" id="num_pitches">
                        {%for num in attempts%}
                        <option value="{{num}}">{{num}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        <hr>

        <div class="select-grade form-group">
            <div class="row">
                <div class="col-2">
                    <label for="grade">Grado:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select grade" name="grade" id="grade" aria-label="grade" >
                        <option value selected>---</option>
                        {%for grade_list in grades_list%}
                        <optgroup label="{{grade_list.0.0}}">   
                        {%  for grade in grade_list.1 %}
                            <option class="themed" value="{{grade}}">{{grade|title}}</option>
                        {%endfor%}
                        </optgroup>
                        {%endfor%}
                    </select>
                    
                </div>
            </div>
        <hr>

        <div class="radio-selection form-group">
            <div class="row">
                <div class="col-2">
                    Posicion en la escalada:
                </div>
                <div class="col-auto">
                    <input type="radio" class="btn-check" name="climber_position" id="lead" value="lead" autocomplete="off">
                    <label class="btn btn-outline-success" for="lead">De primero</label>
        
                    <input type="radio" class="btn-check" name="climber_position" id="top-rope" value="top-rope" autocomplete="off">
                    <label class="btn btn-outline-success" for="top-rope">Top Rope</label>
                </div>
            </div>
        </div>
        <hr>

        <div class="radio-selection form-group">
            <div class="row">
                <div class="col-2">
                    <label>Tipo de ascenso:</label>
                </div>
                <div class="col-auto">
                    <input type="radio" class="btn-check" name="ascent_type" id="onsight" value="on-sight" autocomplete="off">
                    <label class="btn btn-outline-success" for="onsight">A vista</label>
        
                    <input type="radio" class="btn-check" name="ascent_type" id="red-point" value="red-point" autocomplete="off">
                    <label class="btn btn-outline-success" for="red-point">Red Point</label>
        
                    <input type="radio" class="btn-check" name="ascent_type" id="flash" value="flash" autocomplete="off">
                    <label class="btn btn-outline-success" for="flash">Flash</label>
        
                    <input type="radio" class="btn-check" name="ascent_type" id="fall-take" value="fall-take" autocomplete="off">
                    <label class="btn btn-outline-success" for="fall-take">Con caida o tension</label>
        
                    <input type="radio" class="btn-check" name="ascent_type" id="incomplete" value="incomplete" autocomplete="off">
                    <label class="btn btn-outline-success" for="incomplete">No completada</label>  
                </div>
            </div>
        </div>
        <hr>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <label for="num-attempts">Intentos:</label>
                </div>
                <div class="col-auto">
                    <select class="form-control short-num" id="num_attempts" name="num_attempts" required>
                        <option disabled selected value="">-</option>
                        {%for num in attempts%}
                        <option value="{{num}}">{{num}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        <hr>

        <div class="form-group">
            <div class="row">
                <div class="col-2">                    
                    <label for="notes">Notas:</label>
                </div>
                <div class="col-10 col-md-8 col-sm-6">
                    <textarea class="form-control themed" id="notes" name="notes" rows="3" default="no notes" placeholder="Nombre de la via, Es plaquera o de desplome? Calidad de la roca, etc."></textarea>
                </div>
            </div>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Agregar pegue">
        {%for num in numbers%}
        <p>{{num}}</p>
        {%endfor%}
    </form>
</div>
{%endblock%}