{% extends 'climb_log_webapp_ES/base.html' %}
{%load static%}
{%load plotly_dash%}
{% block title %}Pegues de usuario {%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{% static 'climb_log_webapp/styles.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{%endblock%}
{%block content%}

<div class="container row justify-content-evenly">
    <div class="col-lg-6 " >
        <div class="profile-pic d-flex justify-content-center">
            <img class="icon" src="{% static 'climb_log_webapp/images/profile-icon.png' %}" width="250" alt="Png Save Profile" style="border-radius: 50%" />
        </div>
        <div class="calendar_plot">
            {%autoescape off%}
            {{calendar_plot}}
            {%endautoescape%}
        </div>
    </div>
    <div class="col-lg-5" >
        <h1>{{request.user}}</h1>
        <div class="row">
            <div class="col-lg-2">
                <h3>Estilos</h3>
            </div>
            <div class="col-lg-2">
                {%autoescape off%}
                {{style_chart}}
                {%endautoescape%}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <h3>Records</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <h3>Lugar</h3>
            </div>
        </div>
    </div>
</div>
    {% comment %} <h3>Estos son tus pegues registrados:</h3>
<div class="row">
{%for chart in columns_plots%}
    <div class="col-lg-3" >
        <div class="chart"  >
            {%autoescape off%}
                {{chart}}
            {% endautoescape %}
        </div>
    </div>
{%endfor%} {% endcomment %}
</div>

{% comment %} {%plotly_app_bootstrap name="climb_stats" aspect="16by9"%} {% endcomment %}
{% comment %} {%plotly_app name="climb_stats" ratio=1%} {% endcomment %}
{%endblock%}