{% extends 'climb_log_webapp_ES/base.html' %}
{%load static%}
{% block title %}Crear una cuenta {%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{% static 'climb_log_webapp/styles.css' %}">
<link rel="stylesheet" href="{% static 'climb_log_webapp/sign_up.css' %}">
{%endblock%}
{%block content%}
<main>
    <div>
        <h1>Aca comienza tu bitadora de escalada!</h1>
        <br>
        <h3>Crea una cuenta para empezar a guardar el historial de tus escaladas</h3> 
        <br>
    </div>
    <div class="container sign-up-form">
        <form action="sign_up" method="POST">
            {%csrf_token%}
            {%for field in form%}
            {{field.label}}
            {%endfor%}

            {% comment %} {%for field in form%}
            <div class="row">
                <div class="col">
                    {{field.label}}
                    {{field}}
                    {%if field.errors%}
                    {%for error in field.errors%}
                    <p>{{error}}</p>
                    {%endfor%}
                    {%endif%}
                </div>
            </div>
            {%endfor%}
            <div class="row">
                <div class="col">
                    <label for="verify_pw">Escribe de nuevo la contraseña:</label>
                    <input type="password" name="verify_pw" id="verify_pw">
                    {%if verify_pw_error%}
                    <p>Las contraseñas no coinciden, intenta de nuevo.</p>
                    {%endif%}
                </div>
            </div>                
            <button type="submit" class="btn btn-primary">Registrarse</button> {% endcomment %}
          </form>
    </div>
</main>
{%endblock%}